.grid {
  display: flex;
}

.col {
  padding: 5px;
}

.col-1-12 {
  flex-basis: 8.3333%;
}

.col-2-12 {
  flex-basis: 16.6666%;
}

.flex-column {
  flex-direction: column;
}

.full-width {
  flex-grow: 100;
}

.wrapper,
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.height-100 {
  flex: 0 0 100px;
}

.height-150 {
  flex: 0 0 150px;
}

.flex-container {
  display: flex;
  flex: 1 1 132px;
  justify-content: center;
  box-shadow: 0 0 2rem rgb(138, 134, 134);
}

.radio-container {
  max-width: 1280px;
  align-self: flex-start;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}

.skipback-btn {
  flex: 0 0 35px;
}

.play-button {
  flex: 0 0 65px;
}

.skipforward-btn {
  flex: 0 0 35px;
}

.pp-playerui-thumbnail {
  box-shadow: 0 0 5px 1px #cbcbcb;
  margin-top: -15px;
  max-width: 150px;
  flex: 0 0 150px;
}

.pp-playerui-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  display: block; 
}

.pp-playerui-metadata {
  background-color: gray;
  flex: 1 1 200px;
}

.showname {
  background-color: lightcoral;
  font-size: 13px;
  font-weight: 700;
}

.title {
  font-size: 13px;
  background-color: lightcoral;
}

.persistent-player-controls {
  flex: 0 0 210px;
}

.minimize-persistent-player-button::before {
  font-weight: 700;
  font-size: 13.6px;
  content: "MINIMIZE";
}

.minimize-btn {
  width: 14px;
  margin-left: 8px;
}

.close-persistent-player-button::before {
  font-weight: 700;
  font-size: 13.6px;
  content: "CLOSE";
}

.close-btn {
  width: 10px;
  margin-left: 8px;
}